:root {
  --background: #e6e8f7;
  --hit: #b42c4a;
  --downloading: #099177;
  --loading-border: #25e0bd;
  --done: #5a72db;
  --white: #ffffff;
  --black: #000000;
}

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: var(--background);
  width: 100vw;
  height: 100vh;
}

.download {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 16rem;
  height: 5rem;
  outline: none;
  border: none;
  cursor: pointer;
  background-color: var(--white);
  border-radius: 1.2rem;
}

span {
  color: var(--black);
  font-size: 1.6rem;
  font-weight: bold;
  z-index: 2;
}

.hit-circle {
  position: absolute;
  border-radius: 50%;
  animation: resize-animation 0.7s ease-in;
}

.downloading {
  background-color: var(--downloading);
  position: absolute;
  width: 100%;
  height: 40%;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 1.2rem;
  animation: transition 0.5s forwards;
  z-index: 1;
  top: 0;
  left: 0;
}

@keyframes resize-animation {
  0% {
    width: 1.6rem;
    height: 1.6rem;
    border: 0.3rem solid var(--hit);
  }
  50% {
    width: 2.3rem;
    height: 2.3rem;
    border: 0.15rem solid var(--hit);
  }
  100% {
    width: 1.9rem;
    height: 1.9rem;
    border: 0.2rem solid var(--hit);
  }
}

@keyframes transition {
  from {
    height: 40%;
  }
  to {
    height: 100%;
  }
}
